/* GOOGLE FONTS
============================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,500|Signika|Sorts+Mill+Goudy|Cardo);

/* GLOBAL STYLES
============================================= */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  color: #4e4e4e;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000;
}
a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
}

p {
  margin: 0 0 30px;
}

ul li {
  font-weight: 700;
  margin-bottom: 10px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.btn {
  border: 0;
  border-radius: 0;
  padding: 6px 28px;
  text-transform: uppercase;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
}
.btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  height: 48px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1.6;
}
.form-control:focus {
  box-shadow: none;
  border-color: #ccc;
  background-color: #f8f8f8;
}

.valign-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Helper Class: MARGIN
============================================== */
.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}


.mb10 {
	margin-bottom: 10px;
}

/* Helper Class: BUTTON
============================================ */
.btn-white {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.btn-white:hover, .btn-white:focus {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
}

.btn-blue {
  color: #fff;
  background-color: rgba(53, 80, 200, 1.0);
  border-radius: 5px;
}
.btn-blue:hover, .btn-blue:focus {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
}

.btn-black {
  color: #fff;
  background-color: #000;
}
.btn-black:hover, .btn-black:focus {
  color: #fff;
  background-color: #000;
}

@media (min-width: 768px) {
  .sub-section {
    padding: 90px 0;
  }

  .sub-section-title {
    color: #313131;
    letter-spacing: 1px;
    margin: 0 0 60px;
    text-transform: uppercase;
    text-align: left;
  }
}

/* NAVIGATION
================================================ */
.navbar-custom {
  border: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}
.navbar-custom .navbar-nav li {
  margin: 0;
}
.navbar-custom .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}
.navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar-custom .navbar-nav > .active > a {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggle {
  border: 0;
  border-radius: 0;
  margin-top: 2px;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-solid {
  background-color: #000 !important;
  padding: 0 !important;
  -webkit-transition: all 0.2s linear 0s;
          transition: all 0.2s linear 0s;
}

.site-branding {
  float: left;
  margin-top: 0;
  margin-left: 10px;
}
.site-branding .logo {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.site-branding .logo:focus, .site-branding .logo:hover {
  text-decoration: none;
}

/* HERO
============================================ */
container {
    display:block;
    position:relative;
    width: 100%;
	padding-bottom: 70%;
	border: none;
	overflow: hidden;
	background-color: #000;
}
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	z-index: 20;
}

/* Normal slide in inactive state */
slide {
    transition-property: opacity, transform, z-index;
	transition-duration: 0ms;
	transition-function: linear;
	transition-delay: 5000ms, 5000ms, 0ms;
    display:block;
    position: absolute;
	width: 100%;
	height: 100%;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,0.2);
    opacity: 0;
	transform: scale(2) rotate(10deg);
	z-index: 1;
}

/* Active slide */
slide.active {
	transition-property: opacity, transform, z-index;
	transition-duration: 5000ms, 5000ms, 0ms;
	transition-function: linear;
	transition-delay: 0ms;
	transform: scale(1);
	opacity: 1;
	z-index: 10;
}

/* Slide activated by clicking next/prev navigation button.
 * May have, for instance, faster transition time, or a completely differen effect */
slide.activated {
	transition-property: opacity, transform, z-index;
	transition-duration: 1000ms, 1000ms, 0ms;
	transition-function: linear;
	transition-delay: 0ms;
	transform: scale(1);
	opacity: 1;
	z-index: 10;
}

slide.deactivated {
	transition-property: opacity, transform, z-index;
	transition-duration: 1000ms, 1000ms, 0ms;
	transition-function: linear;
	transition-delay: 0ms;
	transform: scale(2) rotate(10deg);
	opacity: 0.0001;
	z-index: 1;
}

slide span {
	display: block;
	font-size: 30px;
	position: absolute;
	bottom: 50px;
	left: 50px;
	background-color: rgba(255,255,255,.4);
	padding: 15px 20px;
	color: #000;
	font-family: sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
	border-radius: 4px;
}

/* Navigation buttons */
.next,
.prev {
	transition: 150ms linear all;
	position: absolute;
	top: 50%;
	border-radius: 100px;
	margin-top: -10px;
	background-color: rgba(0,0,0,.65);
	color: #fff;
	text-align: center;
	font-size: 30px;
	line-height: 25px;
	padding: 3px 3px;
	text-shadow: 0 0 1px #000;
	cursor: pointer;
	opacity: .5;
}
.next:hover,
.next:active,
.prev:hover,
.prev:active {
	opacity: 1;
}
.next {
	right: 25px; z-index: 10;
}
.prev {
	left: 25px; z-index: 10;
}
.headline {
	color: #fff;
	z-index: 20;
	height: 100%;
	width: 80%;
	position: absolute;
	display: block;
	top: 30%;
	left: 10%;
	margin: 0px auto;
	text-align: center;	
}
.headline h1 {
	font-size: 50px;
	margin: 0;
	padding: 0;
}
.headline img {
	margin: 0;
	padding: 0;
}

.site-hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background: url(../images/airport_v3_1920w.jpg) no-repeat center center/cover;
}
.site-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.site-hero .intro {
  color: #fff;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  padding: 0 15px;
}
.site-hero .intro h2 {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 300;
}
.site-hero .intro h1 {
  margin-top: 0px;
  font-size: 50px;
  font-weight: 500;
}
.site-hero .intro p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding-top: 30px;
  }

  .site-branding {
    margin-top: 6px;
    margin-left: 0;
  }
}

/* SECTION TITLES
========================================== */
.section {
}

.section-title {
  	color: #6F6F6F;
  	letter-spacing: 1px;
  	text-align: center;
	width: 80%;
	margin: 0px auto;
	padding-top: 30px;
}
.section-title p, h1, h2 {
	font-size: 32px;
	padding-bottom: 10px;
}
.section-underline {
	color: blue;
	border-top: solid 1px #b3b3b3;
	margin: 30px 0 40px 0;
}
.section-title-icon {
	width: 60px;
	height: 60px;
	margin: 0px auto;
	background-color: #fff;
	border-top: solid 1px #b3b3b3;
	border-left: solid 1px #b3b3b3;
	border-radius: 50px;
	box-shadow: -4px 0px 2px rgba(0,0,0,0.1);
	line-height: 90px;
    transform: rotate(-135deg);
    	-ms-transform: rotate(-135deg); /* IE 9 */
     	-webkit-transform: rotate(-135deg); /* Safari */
	
}
.section-title-icon-align {
	margin-top: -30px;
}
.section-title-icon i {
	color: #3550c8;
	font-size: 40px;
	padding-top: 10px;
    transform: rotate(135deg);
    	-ms-transform: rotate(135deg); /* IE 9 */
     	-webkit-transform: rotate(135deg); /* Safari */
}


/* ABOUT
========================================== */
.about .section-title {
  margin: 0 0 25px;
}
.about figure {
  margin-bottom: 25px;
}


/* ICON PANELS
========================================== */ 
.pnlContainer {
	color: #605455;
	margin: 0px auto;
	padding-bottom: 20px;
}
.pnlContainer:hover p, .pnlContainer:hover i, .pnlContainer:hover h3 {
	color: #FBFAF9;
   	-webkit-transition: all .8s ease .1s;
    -o-transition: all .8s ease .1s;
    transition: all .8s ease .1s;
}
.pnlContainer:hover i {
	color: rgba(53, 80, 200, 1.0);
}
.pnlIcon {
	height: 100px;
	width: 100px;
	margin: 0px auto;
	background-color: #fff;
	text-decoration: none;
	line-height: 60px;
	z-index: 20;
}	
.pnlIcon:hover {
	background-color: #dadada;
	   	-webkit-transition: all .8s ease .1s;
    -o-transition: all .8s ease .1s;
    transition: all .8s ease .1s;
}	
.pnlIconTop {
	margin-bottom: -30px;
	border-top: solid 1px #ecb908;
	border-left: solid 1px #ecb908;
	border-radius: 35px;
	box-shadow: 3px 0px 3px rgba(0,0,0,0.1);
    transform: rotate(45deg);
    	-ms-transform: rotate(45deg); /* IE 9 */
     	-webkit-transform: rotate(45deg); /* Safari */
}	
.pnlIconTop i {
	padding: 10px;
	font-size: 48px;
	color: #ecb908;
    transform: rotate(-45deg);
    	-ms-transform: rotate(-45deg); /* IE 9 */
     	-webkit-transform: rotate(-45deg); /* Safari */
}
.pnlIconBottom {
	margin-top: -50px;
	border-bottom: solid 1px #ecb908;
	border-right: solid 1px #ecb908;
	border-radius: 50px;
	box-shadow: 3px 0px 3px rgba(0,0,0,0.1);
    transform: rotate(45deg);
    	-ms-transform: rotate(45deg); /* IE 9 */
     	-webkit-transform: rotate(45deg); /* Safari */
}
.pnlIconBottom i {
	padding: 20px;
	font-size: 60px;
	color: #ecb908;
    transform: rotate(-45deg);
    	-ms-transform: rotate(-45deg); /* IE 9 */
     	-webkit-transform: rotate(-45deg); /* Safari */
}
.pnlBody {
	height: auto;
	border: solid 1px #ecb908;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #D1CFCF;
}
.pnlBodyTop {
	padding: 40px 10px 20px 10px;
}
.pnlBodyBottom {
	padding: 20px 10px 40px 10px;
}
.pnlBody p, h3, h4 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pnlBody h3 {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
}
.pnlBody p {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	padding: 10px 0 10px 0;
}
.overlay-hover-top:hover .overlay-effect-top{
    opacity:1;
   -webkit-transition: bottom 0.75s ease 0s;
    -o-transition: bottom 0.75s ease 0s;
    transition: bottom 0.75s ease 0s;
    bottom: 0px;
}
.overlay-hover-top {
    position: relative;
    overflow:hidden;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}
.overlay-effect-top {
	background-color: rgba(0,0,0,0.2);
    position: absolute;
    height: 110px;
    width: 100%;
    opacity:0;
    cursor: pointer;
    bottom: -227px;
    -webkit-transition: bottom 0.75s ease 0s;
    -o-transition: bottom 0.75s ease 0s;
    transition: bottom 0.75s ease 0s;
    z-index:10;
}
.overlay-hover:hover .overlay-effect{
    opacity: 1;
   -webkit-transition: top 0.75s ease 0s;
    -o-transition: top 0.75s ease 0s;
    transition: top 0.75s ease 0s;
    top: 0px;
}
.overlay-hover {
    position: relative;
    overflow:hidden;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}
.overlay-effect {
	background-color: rgba(0,0,0,0.2);
    position: absolute;
    height: 260px;
    width: 100%;
    opacity:0;
    cursor: pointer;
    top: -207px;
    -webkit-transition: top 0.75s ease 0s;
    -o-transition: top 0.75s ease 0s;
    transition: top 0.75s ease 0s;
    z-index:10;
}
.overlay-effect h3, p {
	padding: 0 30px 0 30px;
}

/* FAQ
========================================== */
.faqHeader {
	font-size: 27px;
	margin: 20px;
}
.panel {
	border: solid 1px #ecb908;
	box-shadow: none;
}
.panel-heading {
	background-color: #F8F6E4 !important;
}
.panel-heading [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "\e072"; /* "play" icon */
	float: right;
	color: #ecb908;
	font-size: 18px;
	line-height: 22px;
	/* rotate "play" icon from > (right arrow) to down arrow */
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
	/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #454444;
}
.panel-title a {
	text-decoration: none;
	font-size: 18px;
}
.mis-faq-title {
	border: solid 1px #ecb908;
}
.noshadow {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

 /* FOOTER
 ========================================== */
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
